<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.chrezmo.com">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>www.chrezmo.com/Chrezmo-Logo-Name.gif</title>
  <link rel='stylesheet' href='assets/fullcalendar.css.scss' />
  <script src="assets/jquery.min.js"></script>
  <script src="assets/moment.min.js"></script>
  <script src="assets/fullcalendar.js"></script>

  <script type='text/javascript'>

      $(document).ready(function() {
          var date = new Date();
          var d = date.getDate();
          var m = date.getMonth();
          var y = date.getFullYear();
          $('#calendar').fullCalendar({
              editable: true,
              height: 650,
              header: {
                  left: 'today',
                  center: 'prev,title,next',
                  right: 'month,basicWeek,basicDay'
              }
          })
      });

  </script>
</head>

<header><%= image_tag("Chrezmo-Logo-Name.gif", size:"500x50") %></header>
<h1>We saw it coming </h1>
<div class="container">
  <div class="sidebar1">
    <ul class="nav">
      <%= link_to 'Home', main_app.root_path %><br />
      <%= link_to'Prophecies', "prophecies/new" %><br />
      <%= link_to 'Forums', forem.forums_path %><br />
    </ul>
    <p>Basic introductory paragraph</p>
    <!-- end .sidebar1 --></div>
</div>
<body>
<h1>Listing Prophecies</h1>

<table>
  <tr>
    <th>Key One |</th>
    <th>Key Two |</th>
    <th>Key Three |</th>
    <th>Key Four |</th>
    <th>Key Five |</th>
    <th>Date One |</th>
    <th>Date Two |</th>
    <th>Days |</th>
  </tr>
  <!--Loop database and print data to table in view-->
  <% @prophecies.each do |prophecy| %>
      <% days = Date.parse(prophecy.datetwo.to_s) - Date.parse(prophecy.created_at.to_s) %>
      <tr>
        <% if prophecy.user_id == current_user.id %>
        <td><%= prophecy.keyone %></td>
        <td><%= prophecy.keytwo %></td>
        <td><%= prophecy.keythree %></td>
        <td><%= prophecy.keyfour %></td>
        <td><%= prophecy.keyfive %></td>
        <td><%= prophecy.created_at.to_time.strftime('%b %d, %Y') %></td>
        <td><%= prophecy.datetwo.to_time.strftime('%b %d, %Y') %></td>
        <!--Calculates the difference between date-of-creation and date of prophecy-->
        <td><%= days %></td>
        <!--Calculates the volume of a sphere with radius of length(days), because why not-->
        <td><%= number_with_precision((PropheciesController.new.sphere(days)), :precision => 2, :delimiter => ',') %></td>

        <td><%= button_to 'Remove', {:controller => :prophecies, :action => 'destroy', :id => prophecy.id}, :method => :delete, data: { confirm: "Are you sure?" } %></td>
        <td><%= button_to 'New', {:controller => 'prophecies',:action => 'new'}%></td>
      </tr>
    <% end %>
  <% end %>


</table>
</body>
</html>