<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.chrezmo.com">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>www.chrezmo.com/Chrezmo-Logo-Name.gif</title>
  <link rel='stylesheet' href='assets/fullcalendar.css.scss' />
  <script src="assets/jquery.min.js"></script>
  <script src="assets/moment.min.js"></script>
  <script src="assets/fullcalendar.js"></script>

  <script type='text/javascript'>

      $(document).ready(function() {
          var date = new Date();
          var d = date.getDate();
          var m = date.getMonth();
          var y = date.getFullYear();
          $('#calendar').fullCalendar({
              editable: true,
              height: 650,
              header: {
                  left: 'today',
                  center: 'prev,title,next',
                  right: 'month,basicWeek,basicDay'
              }
          })
      });

  </script>

  <style type="text/css">
      #spokes {
          position:absolute;
          top:150px;
          left:200px;
          z-index:0;
      }

      #homeSymbol {
          position:absolute;
          top:164px;
          left:436px;
          z-index:1;
      }
  </style>

</head>

<header><%=image_tag("Chrezmo-Logo-Name.png", size:"500x50") %></header>
<h1>We saw it coming </h1>
<div class="container">
  <div class="sidebar1">
    <ul class="nav">
      <%= link_to 'Home', main_app.root_path %><br />
      <%= link_to'Prophecies', "prophecies/new" %><br />
      <%= link_to 'Forums', forem.forums_path %><br />
    </ul>
    <p>Basic introductory paragraph</p>
    <!-- end .sidebar1 --></div>
  <%=image_tag("Chrezmo-Logo.gif", size:"500x500", id:"spokes")%>
</div>
<%= image_tag("Chrezmo-Letter-H.gif", size:"23x37", id:"homeSymbol", title:"Home") %>
<body>
<h1>Listing Prophecies</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Key One</th>
    <th>Key Two</th>
    <th>Key Three</th>
    <th>Key Four</th>
    <th>Key Five</th>
    <th>Date One</th>
    <th>Date Two</th>
    <th>Days</th>
  </tr>
  <!--Loop database and print data to table in view-->
  <% @prophecies.each do |prophecy| %>
      <% days = Date.parse(prophecy.datetwo.to_s) - Date.parse(prophecy.created_at.to_s)%>
      <tr>
        <% if prophecy.user_id == current_user.id %>
        <td><%= prophecy.id %></td>
        <td><%= prophecy.keyone %></td>
        <td><%= prophecy.keytwo %></td>
        <td><%= prophecy.keythree %></td>
        <td><%= prophecy.keyfour %></td>
        <td><%= prophecy.keyfive %></td>
        <td><%= prophecy.created_at.to_time.strftime('%b %d, %Y') %></td>
        <td><%= prophecy.datetwo.to_time.strftime('%b %d, %Y') %></td>
        <!--Calculates the difference between date-of-creation and date of prophecy-->
        <td><%= days %></td>
        <td><%= days - 10 %></td>
        <td><%= link_to "Remove", prophecy, method: :delete, data: { confirm: "Are you sure?" } %></td>
        <td><%= link_to 'New', {:controller => 'prophecies',:action => 'new'}%></td>
      </tr>
    <% end %>
  <% end %>


</table>

<div id='calendar'></div>

</body>
</html>