<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.chrezmo.com">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>www.chrezmo.com/Chrezmo-Logo-Name.gif</title>
  <link href="Chrezmo.css" rel="stylesheet" type="text/css" media="all" />
  <link href="Chrezmo.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
      #spokes {
          position:absolute;
          top:150px;
          left:200px;
          z-index:0;
      }

      #homeSymbol {
          position:absolute;
          top:164px;
          left:436px;
          z-index:1;
      }
  </style>

</head>
<body onload="MM_preloadImages('assets/Chrezmo-Letter-H-RED.gif')">

<header><%=image_tag("Chrezmo-Logo-Name.gif", size:"500x50") %></header>
<h1>We saw it coming </h1>
<div class="container">
  <div class="sidebar1">
    <ul class="nav">
      <%= link_to 'Home', main_app.root_path %><br />
      <%= link_to'Prophecies', "prophecies/new" %><br />
      <%= link_to 'Forums', forem.forums_path %><br />
    </ul>
    <p>Basic introductory paragraph</p>
    <!-- end .sidebar1 --></div>
  <%=image_tag("Chrezmo-Logo.gif", size:"500x500", id:"spokes")%>

  <h1>Listing Prophecies</h1>

  <table>
    <tr>
      <th>ID</th>
      <th>Key One</th>
      <th>Key Two</th>
      <th>Key Three</th>
      <th>Key Four</th>
      <th>Key Five</th>
    </tr>

    <% prophecies.each do |prophecy| %>
        <tr>
          <td><%= prophecy.id %></td>
          <td><%= prophecy.keyone %></td>
          <td><%= prophecy.keytwo %></td>
          <td><%= prophecy.keythree %></td>
          <td><%= prophecy.keyfour %></td>
          <td><%= prophecy.keyfive %></td>
        </tr>
    <% end %>
  </table>
</div>
</body>
</html>