<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.chrezmo.com">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>www.chrezmo.com/Chrezmo-Logo-Name.gif</title>
  <link href="Chrezmo.css" rel="stylesheet" type="text/css" media="all" />
  <link href="Chrezmo.css" rel="stylesheet" type="text/css" />

  <style type="text/css">
      #spokes {
          position:absolute;
          top:150px;
          left:200px;
          z-index:0;
      }

      #homeSymbol {
          position:absolute;
          top:164px;
          left:436px;
          z-index:1;
      }
  </style>

</head>

<header><%=image_tag("Chrezmo-Logo-Name.gif", size:"500x50") %></header>
<h1>We saw it coming </h1>
<div class="container">
  <div class="sidebar1">
    <ul class="nav">
      <%= link_to 'Home', main_app.root_path %><br />
      <%= link_to 'Forums', forem.forums_path %><br />
      <%= link_to 'My Prophecies', {:controller => 'prophecies',:action => 'index'}%><br />
    </ul>
    <p>Basic introductory paragraph</p>
    <!-- end .sidebar1 --></div>
</div>
<h1>New Prophecy</h1>

<%= form_for :prophecy, url: prophecies_path do |f| %>
    <%= f.label "Keyword One" %><br>
    <%= f.text_field :keyone %><br>
    <%= f.label "Keyword Two" %><br>
    <%= f.text_field :keytwo %><br>
    <%= f.label "Keyword Three" %><br>
    <%= f.text_field :keythree %><br>
    <%= f.label "Keyword Four" %><br>
    <%= f.text_field :keyfour %><br>
    <%= f.label "Keyword Five" %><br>
    <%= f.text_field :keyfive %><br>
    <%= f.label "Date of Happening (YYYY-MM-DD)" %><br>
    <%= f.text_field :datetwo %><br>
    <%= f.submit "Submit Prophecy" %>
<% end %>

<h2>Strong Prophecies</h2>

</body>
</html>