<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.chrezmo.com">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>www.chrezmo.com/Chrezmo-Logo-Name.gif</title>
  <link href="Chrezmo.css" rel="stylesheet" type="text/css" media="all" />
  <link href="Chrezmo.css" rel="stylesheet" type="text/css" />

</head>
<body onload="MM_preloadImages('assets/Chrezmo-Letter-H-RED.gif')">

<header><%=image_tag("Chrezmo-Logo-Name.gif", size:"500x50") %></header>
<h1>We saw it coming </h1>
<div class="container">
  <div class="sidebar1">
    <ul class="nav">
      <%= link_to 'Home', main_app.root_path %><br />
      <%= link_to'Prophecies', "prophecies/new" %><br />
      <%= link_to 'Forums', forem.forums_path %><br />
      <%= link_to 'My Prophecies', "prophecies/index" %><br />
    </ul>
    <p>Basic introductory paragraph</p>
    <!-- end .sidebar1 --></div>
  <p>
    <strong>Prophecy Number:</strong>
    <%= @prophecy.id %>
  </p>

  <p>
    <strong>Keywords:</strong>
    <%= @prophecy.keyone %>
    <%= @prophecy.keytwo %>
    <%= @prophecy.keythree %>
    <%= @prophecy.keyfour %>
    <%= @prophecy.keyfive %>

  </p>
</div>
</body>
</html>
