<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div id="wrapper">
    <%= stylesheet_link_tag 'application', 'forem', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'forem', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
<div id="content">
<html>
<html xmlns="http://www.chrezmo.com">
<body>
    <h2>We saw it coming </h2>
        <div class="sidebar2">
            <ul class="nav">
              <%= link_to 'Home', main_app.root_path %><br />
              <%= link_to'Prophecies', {:controller => 'prophecies',:action => 'new'}%> %><br />
              <%= link_to 'Forums', forem.forums_path %><br />
              <%= link_to 'My Prophecies', {:controller => 'prophecies',:action => 'index'}%> %><br />
            </ul>
    <p>Basic introductory paragraph</p>
    </div>
</body>
</html>
<<<<<<< HEAD
</div>
<<<<<<< HEAD
</div>
=======
>>>>>>> a0cb6e848b3fc19e225683094add133a683d10b2
=======
</div>
>>>>>>> 62316ce6ab9c333884e9acc8249442d96a30c288
