<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.chrezmo.com">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>www.chrezmo.com/Chrezmo-Logo-Name.gif</title>
  <link rel='stylesheet' href='assets/fullcalendar.css.scss' type="text/css" />
  <script src='lib/jquery.min.js'></script>
  <script src='lib/moment.min.js'></script>
  <script src='assets/fullcalendar.js'></script>

  <style type="text/css">
      #spokes {
          position:absolute;
          top:150px;
          left:200px;
          z-index:0;
      }

      #homeSymbol {
          position:absolute;
          top:164px;
          left:436px;
          z-index:1;
      }
  </style>
  <script type='text/javascript'>$
  (document).ready(function() {
      $('#calendar').fullCalendar({
          height: 650,
          aspectRatio: 1.5,
          header: {
              left: 'today',
              center: 'prev,title,next',
              right: 'month,basicWeek,basicDay'
          }
      })
});
  </script>

</head>

<header><%=image_tag("Chrezmo-Logo-Name.png", size:"500x50") %></header>
<h1>We saw it coming </h1>
<div class="container">
  <div class="sidebar1">
    <ul class="nav">
      <%= link_to 'Home', main_app.root_path %><br />
      <%= link_to'Prophecies', "prophecies/new" %><br />
      <%= link_to 'Forums', forem.forums_path %><br />
      <%= link_to 'My Prophecies', "prophecies/" %><br />
    </ul>
    <p>Basic introductory paragraph</p>
    <!-- end .sidebar1 --></div>
  <%=image_tag("Chrezmo-Logo.gif", size:"500x500", id:"spokes")%>
</div>
<div id='calendar'></div>

<%= image_tag("Chrezmo-Letter-H.gif", size:"23x37", id:"homeSymbol", title:"Home") %>
</body>
</html>