<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<div id="content">
<html>
<html xmlns="http://www.chrezmo.com">
<body>
    <h2>We saw it coming </h2>
        <div class="sidebar2">
            <ul class="nav">
              <%= link_to 'Home', main_app.root_path %><br />
              <%= link_to'Make a Prophecy', {:controller => 'prophecies',:action => 'new'}%> %><br />
              <%= link_to 'Forums', forem.forums_path %><br />
              <%= link_to 'My Prophecies', {:controller => 'prophecies',:action => 'index'}%> %><br />
            </ul>
    <p>Basic introductory paragraph. Explain the premise and the basic idea here. Anonymous prophecy network</p>
        </div>

    <h3>Strong Prophecies. Print only those prophecies which match 3+ keywords, date, and have different users</h3>
        <div class="sidebar1">
            <% @prophecies.each do |prophecy| %>
              <% date1 = prophecy.datetwo %>
              <% @prophecies.each do |prophecy| %>
                  <% if date1.eql?(prophecy.datetwo) == true %>
                     <tr>
                        <td><%= prophecy.keyone %></td>
                        <td><%= prophecy.keytwo %></td>
                        <td><%= prophecy.keythree %></td>
                        <td><%= prophecy.keyfour %></td>
                        <td><%= prophecy.keyfive %></td>
                    </tr>
                <% end %>
               <% end %>
              <% end %>
        </div>
    <h4>Weak Prophecies. Print only those prophecies which match either 1 or 2 keywords, date +/- 2 days, and have different users.</h4>

</body>
</html>
</div>
