<!DOCTYPE html>
<div id="content-wrapper">
<html>
    <%= stylesheet_link_tag 'application', 'forem', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'forem', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
<head>
    <div class="container">
        <div class="header">
            <h1><%= image_tag("chrezmo.com_name.gif", size:"400x100")%></h1>
                <legend>
                    <%= link_to '| Home | ', main_app.root_path %>
                    <%= link_to 'Politics | ', {:controller => 'welcome', :action => 'forums_politics'} %>
                    <%= link_to 'Nature | ', {:controller => 'welcome', :action => 'forums_nature'} %>
                    <%= link_to 'Business | ', {:controller => 'welcome', :action => 'forums_business'} %>
                    <%= link_to 'Science | ', {:controller => 'welcome', :action => 'forums_science'} %>
                    <%= link_to 'Games | ', {:controller => 'welcome', :action => 'forums_games'} %>
                    <%= link_to 'TV | ', {:controller => 'welcome', :action => 'forums_tv'} %>
                    <%= link_to 'Sports | ', {:controller => 'welcome', :action => 'forums_sports'} %>
                </legend>
        </div>
    </div>
</head>
<body>
<% flash.each do |key, value| %>
<%= content_tag(:div, value, class:"alert alert-#{key}") %>
<% end %>
<nav>
<% if user_signed_in? %>
<%= link_to current_user.email, main_app.edit_user_registration_path %>
| <%= link_to "Unplug", main_app.destroy_user_session_path, :method => :delete %>
<% if current_user.forem_admin %>
| <%= link_to "Super", forem.admin_root_url %>
<% end %>
<% else %>
<%= link_to "Sign up", main_app.new_user_registration_path %>
| <%= link_to "Plug in", main_app.new_user_session_path %>
<% end %>
</nav>
<%= yield %>
</body>
</html>
</div>